<app-header></app-header>
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">   
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>about us</h3>
                    <ul>
                        <li><a href="/client">home</a></li>
                        <li>></li>
                        <li>about us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>         
</div>
<!--breadcrumbs area end-->

 <!--about section area -->
<div class="about_section">
    <div class="container">   
        <div class="row align-items-center">
            <div class="col-12">
                <div class="about_thumb">
                    <!-- <img src="assets/client/assets/img/about/about1.jpg" alt=""> -->
                </div>

                <div class="about_content">
                    <h1>Welcome to ShineZone!</h1>
                    <p>shineZone designs jewellery for the Western wardrobe. Scratch that. Your wardrobe. We've noticed how you love putting your look together. We've also noticed how jewellery is never part of that look. So we decided to change that. We have fashion stylists and jewellery designers working together to create fashion-inspired designs. What does that mean? Well, global runway trends make their debut in our creations. That's right. Playful. Comfy. On-trend – Melorra is made for casual-dos, parties and work.</p>
                    <span>“There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.”</span>
                </div>
            </div>    
        </div>
    </div>    
</div>
<!--about section end-->
        
<!--chose us area start-->
<div class="choseus_area">
    <div class="container">
        <div class="row">
           <div class="col-12">
               <div class="chose_title">
                   <h1>Why chose us?</h1>
               </div>
           </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_chose">
                    <div class="chose_icone">
                        <img src="assets/client/assets/img/about/About_icon1.jpg" alt="">
                    </div>
                    <div class="chose_content">
                        <h3>Creative Design</h3>
                        <p>We provide you the best designs and work ,you don't need to worried about the design.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_chose">
                    <div class="chose_icone">
                        <img src="assets/client/assets/img/about/About_icon2.jpg" alt="">
                    </div>
                    <div class="chose_content">
                        <h3>100% Money Back Guarantee</h3>
                        <p>If you had an issue with our product & you want to return it ,we will surely return your money with our time period duration.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_chose">
                    <div class="chose_icone">
                        <img src="assets/client/assets/img/about/About_icon3.jpg" alt="">
                    </div>
                    <div class="chose_content">
                        <h3>Online Support 24/7</h3>
                        <p>If you had an any issue regarding our website or work or whatever we are 24/7 ready to help you just contact us!</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--chose us area end-->

<!--services img area-->
<div class="about_gallery_section">
    <div class="container">  
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_gallery_section">
                    <div class="gallery_thumb">
                        <!-- <img src="assets/client/assets/img/service/services2.jpg" alt=""> -->
                    </div>
                    <div class="about_gallery_content">
                       <h3>What do we do?</h3>
                       <p>We house more than 8000 unique designs for you to choose from. All these designs are crafted to perfection with utmost care giving you the flexibility to customize the product's gold purity and colour or diamond clarity to suit your needs.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_gallery_section">
                    <div class="gallery_thumb">
                        <!-- <img src="assets/client/assets/img/service/services1.jpg" alt=""> -->
                    </div>
                    <div class="about_gallery_content">
                       <h3>Our Mission</h3>
                       <p>To beautify the world with our meticulously crafted fine jewelry

                        To inspire moments of happiness and celebrations
                        
                        To enlighten and enrich women’s lives</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_gallery_section">
                    <div class="gallery_thumb">
                        <!-- <img src="assets/client/assets/img/service/services3.jpg" alt=""> -->
                    </div>
                    <div class="about_gallery_content">
                       <h3>History Of Us</h3>
                       <p>
                        Established in 2011, shineZone is India's leading destination for high quality fine jewellery with strikingly exquisite designs. We aim at revolutionizing the fine jewellery and lifestyle segment in India with a firm focus on craftsmanship, quality and customer experience.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>     
</div>
 <!--services img end-->

 <!--testimonials section start-->
<div class="testimonial_are">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="testimonial_titile">
                    <h1>shineZone Founders</h1>
                </div>
            </div>
            <div>
                <div class="container">
                    <p></p>
                    <div class="row">
                <div class="col-sm">
                    <div class="single_testimonial">
                        <img src="assets/client/assets/img/about/profile-2.jpg" alt="">
                        <span class="name">Kinjal Patel</span>
                        <span class="job_title">CEO of sineZone</span>
                        <div class="product_ratting">
                            <ul>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="single_testimonial">
                        <img src="assets/client/assets/img/about/profile-4.jpg" alt="">
                        <span class="name">Komal Patel</span>
                        <span class="job_title">CEO of sineZone</span>
                        <div class="product_ratting">
                            <ul>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="single_testimonial">
                        <img src="assets/client/assets/img/about/profile-6.jpg" alt="">
                        <span class="name">Drashti Patel</span>
                        <span class="job_title">CEO of sineZone</span>
                        <div class="product_ratting">
                            <ul>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>
    </div>     
</div>
<hr>
 <!--testimonials section end-->

  <!--footer area start-->

<!-- Plugins JS -->
