<app-header></app-header>
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>Frequently Questions</h3>
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>></li>
                        <li>Frequently Questions</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->

   <!--faq area start-->
   <div class="faq_content_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="faq_content_wrapper">
                    <h4>Below are frequently asked questions, you may find the answer for yourself</h4>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id erat sagittis, faucibus metus malesuada, eleifend turpis. Mauris semper augue id nisl aliquet, a porta lectus mattis. Nulla at tortor augue. In eget enim diam. Donec gravida tortor sem, ac fermentum nibh rutrum sit amet. Nulla convallis mauris vitae congue consequat. Donec interdum nunc purus, vitae vulputate arcu fringilla quis. Vivamus iaculis euismod dui.</p> -->

                </div>
            </div>
        </div>
    </div>
</div>

<!--Accordion area-->
<div class="accordion_area">
    <div class="container">
        <div class="row">
        <div class="col-12">
            <div id="accordion" class="card__accordion">
              <div class="card card_dipult">
                <div class="card-header card_accor" id="headingOne">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Why choose shineZone?
                      <i class="fa fa-plus"></i>
                      <i class="fa fa-minus"></i>

                    </button>

                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                       <p>Unlike traditional jewellers, we don't believe in mass producing because we make our Jewellery like they are meant for ourselves or our loved ones. Hence we place most of our emphasis on creating exclusive pieces and custom-made jewellery for our loyal customers. Unique and exclusive designs have been created for countless engagement rings and wedding bands.</p>
                  </div>
                </div>
              </div>
              <div class="card  card_dipult">
                <div class="card-header card_accor" id="headingTwo">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Are your diamonds certified?
                       <i class="fa fa-plus"></i>
                       <i class="fa fa-minus"></i>

                    </button>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                    <p>Most of our diamonds above 0.30 carat come with an international diamond grading report, mainly GIA, one of the most respectable diamond labs in the world.</p>
                  </div>
                </div>
              </div>
              <div class="card  card_dipult">
                <div class="card-header card_accor" id="headingThree">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Do you do engraving on rings?
                       <i class="fa fa-plus"></i>
                       <i class="fa fa-minus"></i>
                    </button>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                    <p>Yes, for that extra personal touch, we offer personalized engraving. It's available on most of our rings and all engraving-friendly items.</p>
                  </div>
                </div>
              </div>
              <div class="card  card_dipult">
                <div class="card-header card_accor" id="headingfour">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
                        How to choose a diamond? Understanding the 4Cs of a diamond.
                       <i class="fa fa-plus"></i>
                       <i class="fa fa-minus"></i>
                    </button>
                </div>
                <div id="collapseeight" class="collapse" aria-labelledby="headingfour" data-parent="#accordion">
                  <div class="card-body">
                    <p>Understanding the Colour, Clarity, Cut and Carat weight of the diamond allows you to select the diamond that best fits your criteria and budget. This interactive application guides you through the 4Cs of the diamond. For example, you can move the sliders for colour and clarity to see the differences between their different grades. </p>
                  </div>
                </div>
              </div>
              <div class="card  card_dipult">
                <div class="card-header card_accor" id="headingfive">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
                        Taking care of your jewellery.
                       <i class="fa fa-plus"></i>
                       <i class="fa fa-minus"></i>
                    </button>
                </div>
                <div id="collapseseven" class="collapse" aria-labelledby="headingfive" data-parent="#accordion">
                  <div class="card-body">
                    <p>With reasonable care, your jewellery can be a lasting treasure.<br>
                        1. For routine care, it’s best to wash your jewellery with a jewellery cleaner once a month. Note that different jewellery cleaner are used for different purposes (e.g. the jewellery cleaner for diamonds and precious stones cannot be used to wash pearl jewellery).<br>
                        2. Store your jewellery separately from each other as they the metal may scratch the gemstone or pearl surfaces.<br>
                        3. It is advisable to take off your jewellery when performing household chores, gardening and outdoor sports. If your ring or other jewellery has undergone trauma, such as having been dropped or knocked against hard surfaces, we strongly advise a professional check to ensure the firm setting of the diamond / gemstone.<br>
                        4. For pearls, never store pearls in a plastic bag. Plastic can emit a chemical that will damage the surface of pearls. The same is true of cotton wool. Also, never store pearls in a safe deposit box for a long time. Like your skin, pearls need a little moisture so that they will not dry out.<br>
                        5. Jewellery can be damaged by many chemicals and all acids. The list includes hair spray, perfume, cosmetics, and even perspiration. Always apply perfume, hair products and cosmetics before putting on your jewellery. Remember: when dressing, jewellery should be the last thing you put on and the first thing you take off.</p>
                  </div>
                </div>
              </div>

              <div class="card  card_dipult">
                <div class="card-header card_accor" id="headingsix">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                        How can I better maintain / care for my diamond jewellery?
                       <i class="fa fa-plus"></i>
                       <i class="fa fa-minus"></i>
                    </button>
                </div>
                <div id="collapsefour" class="collapse" aria-labelledby="headingsix" data-parent="#accordion">
                  <div class="card-body">
                    <p>Do note that while diamonds are forever, the settings are not. It is advisable to take off your jewellery when performing household chores, gardening and outdoor sports. It is also vital to avoid contact with chemicals, such as nail polish removers, alcohol, perfume and hairspray. You may then wish to keep your jewellery in a compartmentalized soft cloth pouch to ensure that your jewellery items are not scratched.<br>

                        Daily exposure to household chemicals, skincare products and natural skin oils dulls the diamond’s natural brilliance and sparkle. We recommend professional cleaning once every month in which we use professional jewellery cleaner and brush to wash and brush away accumulated dirt and oil. This is available for purchase at SGD 28 and one bottle can last you more than 5 years if you use it properly. Please contact us if you wish to purchase the jewellery cleaner.<br>

                        If your ring or other diamond jewellery has undergone trauma, such as having been dropped or knocked against hard surfaces, we strongly advise a professional check to ensure the firm setting of the diamond. This is a complimentary service by sineZone for all our customers.</p>
                  </div>
                </div>
              </div>
              <div class="card  card_dipult">
                <div class="card-header card_accor" id="headingseven">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                        Do you have an actual store i can come visit?
                       <i class="fa fa-plus"></i>
                       <i class="fa fa-minus"></i>
                    </button>
                </div>
                <div id="collapsefive" class="collapse" aria-labelledby="headingseven" data-parent="#accordion">
                  <div class="card-body">
                    <p>Nope, no bricks & mortar for us. But although we only exist online, there are still tons of ways to stay in touch with us.</p>
                  </div>
                </div>
              </div>
              <div class="card  card_dipult">
                <div class="card-header card_accor" id="headingeight">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                        What is the difference between karat and carat?
                       <i class="fa fa-plus"></i>
                       <i class="fa fa-minus"></i>
                    </button>
                </div>
                <div id="collapsesix" class="collapse" aria-labelledby="headingeight" data-parent="#accordion">
                  <div class="card-body">
                    <p>Karat is the unit used to measure the purity of gold. Carat is used to measure the weight of diamonds and gemstones.</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    </div>
</div>
<!--Accordion area end-->
<!--faq area end-->
