<app-header></app-header>
<style>
    h3{
        color: #a43d21;
    }
    h2{
        color: #a43d21;
    }
</style>
 <!--breadcrumbs area start-->
 <div class="breadcrumbs_area">
    <div class="container">   
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>privacy policy</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>         
</div>
<!--breadcrumbs area end-->

<!--Privacy Policy area start-->
<div class="privacy_policy_main_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="privacy_content section_1">
                    <h3>Who we are</h3>
                    <p>Our website address is: <a href="http://localhost:4200/client">http://localhost:4200/client</a></p>
                </div>
                <div class="privacy_content section_2">
                    <h2 style="color: black;"><u>What personal data we collect and why we collect it</u></h2>
                    <h3>Collection of Information</h3>
                    <p>If you browse through this site without providing us with any personal information, we will gather and store some information about your visit, such as IP address, type of browser and operating system used, date and time you access our site, pages you visit, and if you linked to our website from another website, the address of that website. This information will not identify you personally and will not be linked back to you.</p>
                    <h3>Use and Sharing of Information</h3>
                    <p>At no time will we sell your personally-identifiable data without your permission unless set forth in this Privacy Policy. The information we receive about you or from you may be used by us or shared by us with our corporate affiliates, dealers, agents, vendors and other third parties to help process your request; to comply with any law, regulation, audit or court order; to help improve our website or the products or services we offer; for research; to better understand our customers' needs; to develop new offerings; and to alert you to new products and services (of us or our business associates) in which you may be interested. We may also combine information you provide us with information about you that is available to us internally or from other sources in order to better serve you. We do not share, sell, trade or rent your personal information to third parties for unknown reasons.</p>
                    <h3>Cookies</h3>
                    <p>From time to time, we may place "cookies" on your personal computer. "Cookies" are small identifiers sent from a web server and stored on your computer's hard drive, that help us to recognize you if you visit our website again. Also, our site uses cookies to track how you found our site. To protect your privacy we do not use cookies to store or transmit any personal information about you on the Internet. You have the ability to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies certain features of the site may not function property or at all as a result.</p>
                    <p>If you leave a comment on our site you may opt-in to saving your name, email address and website in cookies. These are for your convenience so that you do not have to fill in your details again when you leave another comment. These cookies will last for one year.</p>
                    <p>If you have an account and you log in to this site, we will set a temporary cookie to determine if your browser accepts cookies. This cookie contains no personal data and is discarded when you close your browser.</p>
                    <p>When you log in, we will also set up several cookies to save your login information and your screen display choices. Login cookies last for two days, and screen options cookies last for a year. If you select “Remember Me”, your login will persist for two weeks. If you log out of your account, the login cookies will be removed.</p>
                    <p>If you edit or publish an article, an additional cookie will be saved in your browser. This cookie includes no personal data and simply indicates the post ID of the article you just edited. It expires after 1 day.</p>
                    <h3>Links</h3>
                    <p>Our website contains links to other sites. Such other sites may use information about your visit to this website. Our Privacy Policy does not apply to practices of such sites that we do not own or control or to people we do not employ. Therefore, we are not responsible for the privacy practices or the accuracy or the integrity of the content included on such other sites. We encourage you to read the individual privacy statements of such websites.</p>
                    <h3>Opt-Out Policy</h3>
                    <p>Please email if you no longer wish to receive any information from us.</p>
                    <h3>Changes to this Privacy Policy</h3>
                    <p>Our privacy policy was last updated on December 19th, 2011. We may change our Privacy Policy from time to time. If we do, we will update this Privacy Policy on our website.</p>
                    <h3>Questions</h3>
                    <p>If you have any questions about our Privacy Policy, please e-mail your questions to us at privacy@shineZone.com</p>
                </div>
                <div class="privacy_content section_3">
                    <h2>How long we retain your data</h2>
                    <p>If you leave a comment, the comment and its metadata are retained indefinitely. This is so we can recognize and approve any follow-up comments automatically instead of holding them in a moderation queue.</p>
                    <p>For users that register on our website (if any), we also store the personal information they provide in their user profile. All users can see, edit, or delete their personal information at any time (except they cannot change their username). Website administrators can also see and edit that information.</p>
                </div>
                <div class="privacy_content section_3">
                    <h2>What rights you have over your data</h2>
                    <p>If you have an account on this site, or have left comments, you can request to receive an exported file of the personal data we hold about you, including any data you have provided to us. You can also request that we erase any personal data we hold about you. This does not include any data we are obliged to keep for administrative, legal, or security purposes.</p>
                </div>
                <div class="privacy_content section_3">
                    <h2>Where we send your data</h2>
                    <p>Visitor comments may be checked through an automated spam detection service.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Privacy Policy area end-->

