<app-e-header></app-e-header>
<!--**********************************
            Content body start
        ***********************************-->
<div class="content-body">
  <!-- row -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6 col-lg-7 col-sm-6">
        <div class="widget-stat card bg-info">
          <div class="card-body  p-4">
            <div class="media">
              <span class="mr-3">
                <i class="flaticon-381-diamond"></i>
              </span>
              <div class="media-body text-white text-right">
                <p class="mb-3">Jewellery</p>
                <h3 class="text-white">{{data1}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-7 col-sm-6">
        <div class="widget-stat card bg-secondary">
          <div class="card-body  p-4">
            <div class="media">
              <span class="mr-3">
                <i class="fa fa-diamond"></i>
              </span>
              <div class="media-body text-white text-right">
                <p class="mb-3">Jewellery Product</p>
                <h3 class="text-white">{{data2}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-7 col-sm-6">
        <div class="widget-stat card bg-primary">
          <div class="card-body  p-4">
            <div class="media">
              <span class="mr-3">
                <i class="fa fa-users"></i>
              </span>
              <div class="media-body text-white text-right">
                <p class="mb-3">Employee</p>
                <h3 class="text-white">{{data3}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-xl-6 col-lg-7 col-sm-6">
        <div class="widget-stat card bg-success">
          <div class="card-body  p-4">
            <div class="media">
              <span class="mr-3">
                <i class="la la-dollar"></i>
              </span>
              <div class="media-body text-white text-right">
                <p class="mb-3">Payment</p>
                <h3 class="text-white">{{data4}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="col-xl-6 col-lg-7 col-sm-6">
        <div class="widget-stat card bg-warning">
          <div class="card-body  p-4">
            <div class="media">
              <span class="mr-3">
                <i class="fa fa-list"></i>
              </span>
              <div class="media-body text-white text-right">
                <p class="mb-3">Order</p>
                <h3 class="text-white">{{data6}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-7 col-sm-6">
        <div class="widget-stat card bg-dark">
          <div class="card-body  p-4">
            <div class="media">
              <span class="mr-3">
                <i class="la la-users"></i>
              </span>
              <div class="media-body text-white text-right">
                <p class="mb-3">Users</p>
                <h3 class="text-white">{{data5}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-7 col-sm-6">
        <div class="widget-stat card bg-danger">
          <div class="card-body  p-4">
            <div class="media">
              <span class="mr-3">
                <i class="fa fa-undo"></i>
              </span>
              <div class="media-body text-white text-right">
                <p class="mb-3">Return Jewellery</p>
                <h3 class="text-white">{{data7}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-xl-6 col-lg-7 col-sm-6">
        <div class="widget-stat card bg-success">
          <div class="card-body  p-4">
            <div class="media">
              <span class="mr-3">
                <i class="flaticon-381-notepad"></i>
              </span>
              <div class="media-body text-white text-right">
                <p class="mb-3">Billing</p>
                <h3 class="text-white">{{data8}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div> -->
   
    </div>
  </div>
</div>
<!--**********************************
          Content body end
      ***********************************-->