<p>showemployee works!</p>

<app-header></app-header>

<div class="content-body">
    <div class="container-fluid">
        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Employee</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Employee data</a></li>
            </ol>
        </div>
      
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Employee Data</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example3" class="display min-w850">
                            <thead>
                                <tr>
                                   
                                    <th>No</th>
                                    <th>Employee Name</th>
                                    <th>Employee Address</th>
                                    <th>Employee Contact</th>
                                    <th>Edit/Delete</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let e of employeedata; let no=index;">
                                   <td>{{no+1}}</td>
                                    <td>{{e.emp_name}}</td>
                                    <td>{{e.emp_address}}</td>
                                    <td>{{e.emp_contact}}</td>
                                    <td>
                                        <div class="d-flex">
                                            <a href="#" class="btn btn-primary shadow btn-xs sharp mr-1"  [routerLink]="['/admin/editemployee',e.emp_id_pk]"><i class="fa fa-pencil"></i></a>
                                            <a  class="btn btn-danger shadow btn-xs sharp" (click)="deleteemployee(e.emp_id_pk)"><i class="fa fa-trash"></i></a>
                                        </div>												
                                    </td>												
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
