
<app-header></app-header>

<div class="content-body">
    <div class="container-fluid">
        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Silver Diamond</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Silver Diamond data</a></li>
            </ol>
        </div>
      
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Silver Diamond Data</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example3" class="display min-w850">
                            <thead>
                                <tr>
                                   
                                    <th>No</th>
                                    <th>Weight</th>
                                    <th>Carat</th>
                                    <th>Certificate No</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let s of silverdata; let no=index;">
                                   <td>{{no+1}}</td>
                                    <td>{{s.weight}}</td>
                                    <td>{{s.carat}}</td>
                                    <td>{{s.certi_no}}</td>
                                    <td>
                                        <div class="d-flex">
                                            <a href="#" class="btn btn-primary shadow btn-xs sharp mr-1" [routerLink]="['/admin/editsilver',s.silver_id_pk]"><i class="fa fa-pencil"></i></a>
                                            <a  class="btn btn-danger shadow btn-xs sharp"(click)="deletesilver(s.silver_id_pk)"><i class="fa fa-trash"></i></a>
                                        </div>												
                                    </td>												
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
