
<app-header></app-header>

<div class="content-body">
    <div class="container-fluid">
        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Feedbback</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Feedback data</a></li>
            </ol>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Feedback Data</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example3" class="display min-w850">
                            <thead>
                                <tr>

                                    <th>No</th>
                                    <th>User Name</th>
                                    <th>Product Name</th>
                                    <th>Message</th>
                                    <th>Rating</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let f of feedbackdata; let no=index;">
                                   <td>{{no+1}}</td>
                                    <td>{{f.f_name}}</td>
                                    <td>{{f.jewellery_name}}</td>
                                    <td>{{f.description}}</td>
                                    <td>{{f.rating}}</td>
                                    <td>
                                        <div class="d-flex">
                                            <a  class="btn btn-danger shadow btn-xs sharp"(click)="deletefeedback(f.review_id_pk)"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


