
<app-m-header></app-m-header>

<div class="content-body">
    <div class="container-fluid">
        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">SubType Jewellery</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">SubType Jewellery data</a></li>
            </ol>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">SubType Jewellery Data</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example3" class="display min-w850">
                            <thead>
                                <tr>

                                    <th>No </th>
                                    <th>jewellery Type</th>
                                    <th>jewellery Name</th>
                                    <th>Price</th>
                                    <th>Image</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let sj of subjewelleryData; let no=index;">
                                   <td>{{no+1}}</td>
                                    <td>{{sj.jewellery_name}}</td>
                                    <td>{{sj.subtype}}</td>
                                    <td>{{sj.price}}</td>
                                    <td><img width="100" src="{{baseUrl + sj.images}}" alt=""></td>
                                    <td>{{sj.description}}</td>
                                    <td>
                                        <div class="d-flex">
                                            <a  class="btn btn-primary shadow btn-xs sharp mr-1" [routerLink]="['/manager/m_edit_subtypejewellery',sj.subtype_jewellery_id_pk]"><i class="fa fa-pencil"></i></a>
                                            <a  class="btn btn-danger shadow btn-xs sharp" (click)="deletesubjewellery(sj.subtype_jewellery_id_pk)"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


