
<app-m-header></app-m-header>

<div class="content-body">
    <div class="container-fluid">
        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Gold Diamond</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Gold Diamond data</a></li>
            </ol>
        </div>
      
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Gold Diamond Data</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example3" class="display min-w850">
                            <thead>
                                <tr>
                                   
                                    <th>No</th>
                                    <th>Certificate Details</th>
                                    <th>Gold Type</th>
                                    <th>Carat</th>
                                    <th>Weight</th>
                                   
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let g of golddata; let no=index;">
                                    <td>{{no+1}}</td>
                                    <td> <b>Certificate No:</b> {{g.certi_no}} <br><br>
                                        <b>Certificate :</b> <img width="200" src="{{baseUrl + g.image}}" alt="">
                                    </td>
                                    <td>{{g.gold_type}}</td>
                                    <td>{{g.carat}}</td>
                                    <td>{{g.weight}}</td>
                                  
                                    <td>
                                        <div class="d-flex">
                                            <a  class="btn btn-primary shadow btn-xs sharp mr-1" [routerLink]="['/manager/m_edit_gold',g.gold_id_pk]"><i class="fa fa-pencil"></i></a>
                                            <a  class="btn btn-danger shadow btn-xs sharp" (click)="deletegold(g.gold_id_pk)"><i class="fa fa-trash"></i></a>
                                        </div>												
                                    </td>												
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
